@import 'zmienne';
#form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 25%;
	right: 5%;

	h2 {
		color: #fff;

		span {
			color: $zolty;
		}

	}

	form {
		background-color: $niebiesko-granatowy;
		padding: 20px 10px;

		h3 {
			color: #fff;
		}

		input:not([type='submit']),
		textarea {
			width: 100%;
			box-sizing: border-box;
			height: 40px;
			padding: 5px;
			margin-bottom: 10px;
		}

		input[type='submit'] {
			background-color: $zolty;
			color: #000000;
			text-align: center;
			line-height: 40px;
			width: 80px;
			border: 0;
			outline: none;
		}
	}


}
